.sidebar_header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;

  @media (max-width: 400px) {
    padding: 0px 24px;
  }

  .sidebar_header__search_btn {
    width: 161px;
    height: 40px;
    background: var(--grey);
    color: var(--text-light);
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
  }

  .sidebar_header__location_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: var(--grey);
    color: var(--text-light);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
